html, body {
  width: 100%;
  height: 100%;
}

html {
  background: transparent url(img/archive.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin : 0px;
  font-family: arial, sans-serif;
}

form {
  width: 400px;
  border-radius: 20px;
  background: rgba(66,66,66,0.5);
  padding: 30px;
  position: relative;
  left: 50%;
  margin-left: -220px;
  margin-top: 200px;
  text-align: center;
}

form input[type="input"] {
  width: 90%;
  padding: 5px;
  border-radius: 10px;
}

form label {
  color: white;
  display: block;
  margin-bottom: 10px;
  width: 100%;
}